[Unit]
Description=PsyServer Service.

[Service]
# pyseserver init will place real paths here
ExecStart=/path/to/python /path/to/psyserver
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target

