[Unit]
Description=PsyServer Service.

[Service]
# pyseserver init will place real paths here
ExecStart=/path/to/python /path/to/psyserver run
Environment=PYTHONUNBUFFERED=1
Environment=CONFIG_PATH=config_path
Restart=on-failure

[Install]
WantedBy=default.target

